@{
  ViewBag.Title = "Contact - Annet Katan";
  ViewBag.MenuContact = "active";
}

<h2>Annet's contacts</h2>
<address>
  <abbr title="Phone">P:</abbr> (415) 299-1445<br>
  <abbr title="Email">E:</abbr> <a href="mailto:info@annetkatan.com">info@annetkatan.com</a><br>
  <abbr title="Skype">S:</abbr> annet.katan
</address>

<form class="form-subscribe" action="https://annetkatanphotographer.createsend.com/t/d/s/xslhd/" method="post" id="subForm">
  <div class="form-group">
    <label for="fieldName">Full name</label><br />
    <input type="text" class="form-control" id="fieldName" name="cm-name" placeholder="Name" />
  </div>
  <div class="form-group">
    <label for="fieldEmail">Email address</label><br />
    <input type="email" class="form-control" id="fieldEmail" name="cm-xslhd-xslhd" placeholder="Email" required />
  </div>
  <p>
  <button class="btn btn-lg btn-default btn-block" type="submit">Subscribe</button>
</form>