@{
  ViewBag.Title = "Contact - Annet Katan";
  ViewBag.MenuContact = "active";
}

<h2>Annet's contacts</h2>
<address>
  <abbr title="Phone">P:</abbr> (415) 299-1445<br>
  <abbr title="Email">E:</abbr> <a href="mailto:info@annetkatan.com">info@annetkatan.com</a><br>
  <abbr title="Skype">S:</abbr> annet.katan
</address>