@model IEnumerable<AnnetKatan.Models.Image>

  @{
  ViewBag.Title = "Annet Katan | Photography & Design";
  ViewBag.MenuHome = "active";
  }

  @*@section scripts{
  @Scripts.Render("~/bundles/SiteModals")
  }*@

  <!-- Modal -->
  @*<div class="modal fade" id="imageModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">


        <div class="modal-body">
          <img id="highResImage" class="img-responsive" src="#">
        </div>

      </div>
    </div>
  </div>*@

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      @foreach (var image in Model)
      {
        if (Model.First().Equals(image))
        {
          <div class="item active">
            @*<a href="#imageModal" data-toggle="modal" data-image-url="@image.Url">*@
              <img class="img-responsive img-thumbnail img-noradius" src=@image.Url alt="" />
            @*</a>*@
          </div>
        }
        else
        {
          <div class="item">
            @*<a href="#imageModal" data-toggle="modal" data-image-url="@image.Url">*@
              <img class="img-responsive img-thumbnail img-noradius" src=@image.Url alt="" />
            @*</a>*@
          </div>
        }
      }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>
