@model IEnumerable<AnnetKatan.Models.Image>

@{
  ViewBag.Title = "Portfolio - Annet Katan";
  ViewBag.MenuPortfolio = "active";
}

<cache expires-after="@TimeSpan.FromDays(1)">

  <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      @foreach (var image in Model)
      {
        if (Model.First().Equals(image))
        {
          <div class="item active">
            <img class="img-responsive img-thumbnail img-noradius" src=@image.Url alt="" />
          </div>
        }
        else
        {
          <div class="item">
            <img class="img-responsive img-thumbnail img-noradius" src=@image.Url alt="" />
          </div>
        }
      }
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
  </div>

</cache>