@{
  ViewBag.Title = "Pricing - Annet Katan";
  ViewBag.MenuPricing = "active";
}

<h2>Sessions pricing</h2>

<p>Request details about your personal photo shoot now.</p>

<p><a class="btn btn-default btn-lg" role="button" href="mailto:info@annetkatan.com?Subject=Request%20your%20photo%20shoot&body=Hi%20Annet,">Send request</a></p>