@{
  ViewBag.Title = "Pricing - Annet Katan";
  ViewBag.MenuPricing = "active";
}

<h2>Sessions pricing</h2>
<p>You can order the following types of photo shooting:</p>
<div class="text-left">
  <table class="table">
    <thead>
      <tr>
        <th><a title="Length of the session" data-toggle="tooltip" data-placement="top">Hours</a></th>
        <th><a title="Fully edited high resolution photos" href="#" data-toggle="tooltip" data-placement="top">Photos</a></th>
        <th><a title="Online photo library accesible on whatever device" href="#" data-toggle="tooltip" data-placement="top">Gallery</a></th>
        <th><a title="Price of the session" href="#" data-toggle="tooltip" data-placement="top">Price</a></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>20</td>
        <td>✓</td>
        <td>$349</td>
      </tr>
      <tr>
        <td>2</td>
        <td>30</td>
        <td>✓</td>
        <td>$449</td>
      </tr>
      <tr>
        <td>3</td>
        <td>40</td>
        <td>✓</td>
        <td>$549</td>
      </tr>
      <tr>
        <td>4*</td>
        <td>50*</td>
        <td>✓</td>
        <td>$649</td>
      </tr>
    </tbody>
  </table>
  <div class="text-white"><strong>Legend: </strong>✓ - included into the session; * - more available on request.</div>
</div>