@{
  ViewBag.Title = "Pricing - Annet Katan";
  ViewBag.MenuPricing = "active";
}

<h2>Sessions pricing</h2>

<p>Request details about your personal photo shoot now.</p>

<p>
  <a class="btn btn-success btn-lg" role="button" href="mailto:info@annetkatan.com?Subject=Get%20a%20Quote&body=Hi%20Annet,">
    <span class="icon icon-calculator"></span>
    Get a Quote
  </a>
</p>