@{
  ViewBag.Title = "Shop";
  ViewBag.MenuShop = "active";
}

<div class="cover">
  <h2>Photography and design shop</h2>
  <p class="lead">In the shop you will find Original Watercolor Paintings and Fine Art Prints that can be marvelous gifts as well as lovely decor addition to your home or office.</p>
  <p class="lead">
    <a class="btn btn-lg btn-default" href="https://www.etsy.com/shop/AnnetKatan" target="_blank">Etsy Shop</a>
  </p>
</div>